body{background-color: beige;}
#pierwszy {background-color: aqua;}
h1{background-color: coral;}
h2{background-color: darkmagenta;}
#drugi{background-color: chartreuse;}
ul{background-color: darksalmon;}
#gra{color: brown;}
#mecz{color: greenyellow;}
#online{color: magenta;}
#szybko{color: gold;}
#malo{color: red;}